body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.square {
    background-color: gray;
    height: 20px;
    width: 20px;
}
#board {
    padding: 20px;
}
.clicked {
    background-color: red;
}

.mine {
    background-color: blue;
}