body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.square {
    background-color: rgb(124, 107, 107);
    height: 20px;
    width: 20px;
}
#board {
    padding: 20px;
}
.clicked {
    background-color: rgb(180, 188, 197);
}

.mine.clicked {
    background-color: red;
}

.mine.clicked.flagged {
    background-color: rgb(124, 107, 107);
    background-image: url("flag.png");
}

.mine {
    background-color: black;
}

.flagged{
    background-image: url("flag.png");
}