#linkBox {
    display: flex;
    justify-content: flex-start;
}
#root {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Geneva", sans-serif;
    justify-content: center
}
a.otherPage {
    font-family: "Lucida Console", sans-serif;
    border: medium;
    border-style: invisible;
    margin: 4px;
}